@CHARSET "UTF-8";
a{
    text-decoration: none;
    cursor: pointer;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index:1;
    width: 100%;
    height:70px;
    background:url(img/topp.jpg);
    opacity:0.8
    
}
nav #logo{
	position: fixed;
    top: 0;
    left: 0;
    z-index:999;
    width:550px;
    height:70px;
    background-image:url(img/logo.jpg);
}
nav>div{
    color: #9e9e9e;
    background-color: #ffffff;
    width: 130px;
    right:0px;
    position: absolute;
    top:0px;
    height: 70px;
    cursor: pointer;
}
nav>div div{
    position: absolute;
    height:70px;
    width:100%;
    padding-left: 20px;
    box-sizing: border-box;
    transform: translateZ(25px);
}
nav>div div:last-child{
    background-color: #015196;
    color: #ffffff;
    transform: rotateX(90deg) translateZ(25px);
}
nav>div div h1{
    font-family: "TrumpGothicEastBold", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height:20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
nav>div div span{
    display: block;
    width: 20px;
    height: 3px;
    margin-left: -1px;
    margin-top: 4px;
    background-color: #c7c7c7;
}
nav>div div:last-child span{
    background-color: #fff033;
}
nav>div a{
    color:#9e9e9e;
    position: absolute;
    height: 70px;
    width: 100%;
    box-sizing: border-box;
    transition:transform .2s;
    transform-style:preserve-3d;
}
nav>div:hover a{
    transform: rotateX(-90deg);
}
body{
     background-color:#afd6f0;
     font-family: "微软雅黑", sans-serif;}

#timer{
	border:none;
	border-radius:0;
	background-color:transparent;
    box-shadow: 0px 0px 0px 0px;
    color:#ff3c33;
    font-size:40;
    opacity:0.8;
}

#time{
	position:fixed;
	z-index:999;
	top:15px;
    right:200px;
    height:50px;
    opacity:0.95;
}

bt button{
    width:300px;
    padding:8px;
    background-color:#015196;
    border:1px solid black;
    border-radius:18px;
    margin-top:20px;
    margin-bottom:10px;
    cursor:pointer; 
    opacity:0.5;
}

.bottom{
	margin-bottom:5px;
	width:100%;
	text-align:center;
	font-size:12px;
}
